.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fe3980;
    border: 2px solid #c14f76;
    border-radius: 20px;
    color: #fcfffc;
    font-size: 22px;
    font-weight: bold;
    max-width: 100%;
}

.main:hover {
    background-color: orange;
    border: 2px solid orange;
}