.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1px;
    background-color: #076fc1;
    width: 100%;
    height: 40%;
    margin: 5px;
    border-radius: 50px;
    justify-content: center;
    border: 10px solid #1d2b65;
}